* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

/* Navbar Section */
.bd-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  gap: 100px;
}
.bd-2 span {
  font-size: 1.5rem;
  font-weight: bold;
}
.bd-2 p {
  border: 1px solid #006a50;
  border-radius: 5px;
  width: 70px;
  height: 20px;
  font-size: 0.9rem;
  color: #006a50;
  font-weight: 600;
  text-align: center;
}
.sign-in:hover {
  background-color: rgb(179, 250, 198);
}
/* Header section */
header {
  border-radius: 24px;
  width: 80%;
  height: 300px;
  margin-top: 20px;
  background-color: #c6e4d6;
  display: flex;
  gap: 130px;
  justify-content: center;
  justify-self: center;
}
.bd2 {
  font-size: 0.8rem;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 10px;
}

.idea {
  color: #0e0e0e;
  font-size: 1.2rem;
  font-weight: bold;
}
.header-texts {
  align-content: center;
  padding-left: 15px;
}
.explore {
  border-radius: 8px;
  width: 210px;
  height: 30px;
  background-color: #006a50;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding-top: 8px;
  text-align: center;
  margin-top: 15px;
}
.explore:hover {
  background-color: rgb(5, 158, 45);
}
.header-image {
  align-content: center;
}
.header-image img {
  align-content: center;
  padding-right: 20px;
  width: 250px;
  height: 250px;
}
/* Pillars Section */
.Pillars {
  width: 80%;
  height: 250px;
  margin-top: 50px;
  align-content: center;
  justify-self: center;
}
.pillar-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.pillar-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 10px;
  align-content: center;
}
.card {
  border-radius: 16px;
  gap: 20px;
  width: 150px;
  height: 180px;
  background-color: #ebf7f1;
  align-content: center;
  padding-left: 10px;
}
.card:hover {
  background-color: rgb(182, 255, 201);
}
.card span {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.card p {
  font-size: 0.7rem;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 10px;
}
.card img {
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
}

/* Vision section */
.Vision {
  width: 80%;
  height: 250px;
  margin-top: 50px;
  justify-self: center;
  align-content: center;
}
.vision-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.vision-info {
  font-size: 0.7rem;
  color: rgba(14, 14, 14, 0.7);
  margin: 10px 0;
}
.vision-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.vision-card {
  border-radius: 16px;
  width: 200px;
  height: 200px;
}
.vision-card:hover {
  background-color: rgb(182, 255, 201);
}
.vision-card img {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}
.vision-card h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.vision-card p {
  font-size: 0.6rem;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 5px;
}
.card-1 {
  background-color: rgba(84, 144, 245, 0.2);
  align-content: center;
  padding: 5px 10px;
}
.card-1:hover {
  background-color: #9abcea;
}
.card-2 {
  background-color: rgba(198, 228, 214, 1);
  align-content: center;
  padding: 5px 10px;
}
.card-2:hover {
  background-color: #9abcea;
}
.card-3 {
  background-color: rgba(247, 235, 207, 1);
  align-content: center;
  padding: 5px 10px;
}
.card-3:hover {
  background-color: #9abcea;
}
.card-btn-1 {
  width: 95px;
  height: 25px;
  padding-top: 3px;
  margin-top: 10px;
  text-align: center;
  background-color: #5490f5;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-1:hover {
  background-color: rgb(93, 11, 234);
}
.card-btn-2 {
  width: 95px;
  height: 25px;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  background-color: #09a15c;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-2:hover {
  background-color: rgb(93, 11, 234);
}
.card-btn-3 {
  width: 95px;
  height: 25px;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffc239;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-3:hover {
  background-color: rgb(93, 11, 234);
}

/* qoute section */
.qoute {
  background-color: #ebf7f1;
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  color: rgba(14, 14, 14, 0.8);
  margin: 130px 0;
  width: 80%;
  height: 180px;
  font-size: 0.8rem;
  justify-self: center;
  border-radius: 16px;
  align-content: center;
}
.qoute:hover {
  background-color: #acc9ef;
}

/* Recent News */
.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  background-color: #ebf7f1;
  border-radius: 35px;
  width: 80%;
  height: 230px;
  margin: 50px 0;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.news-2 {
  padding-left: 20px;
}
.news:hover {
  background-color: #c1d9f7;
}
.recent-img img {
  width: 30%px;
  height: 200px;
  border-radius: 35px;
}
.al-jazeera {
  width: 10px;
}
.news-info {
  align-items: center;
  font-size: 0.5rem;
}
.news-time {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}
.news-btn {
  background-color: #006a50;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: bold;
  width: 80px;
  height: 20px;
  color: white;
  text-align: center;
  padding-top: 6px;
  margin-top: 5px;
}
.news-btn:hover {
  background-color: rgb(93, 11, 234);
}
.news-title {
  font-size: 1rem;
}
/* donate */
.Donate {
  width: 80%;
  height: 290px;
  margin: 50px 0;
  justify-self: center;
}
.donate-title {
  text-align: center;
  height: 110px;
}
.donate-title h3 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.donate-title p {
  font-size: 0.6rem;
  color: rgba(14, 14, 14, 0.7);
  padding-bottom: 10px;
}
.taka {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}
.taka-1 {
  width: 100px;
  height: 45px;
  text-align: center;
  background-color: #eedefc;
  padding-top: 20px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
}
.taka-1:hover {
  background-color: #a7c6ed;
}
.taka-2 {
  background-color: #bae1cf;
}
.donate {
  margin-top: 30px;
}
.donate-taka {
  width: 70%;
  text-align: center;
  justify-self: center;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: rgba(14, 14, 14, 0.3);
  border-radius: 5px;
  background-color: #f1faf4;
}
.donate-taka:hover {
  background-color: rgb(207, 185, 247);
}
.donate-now {
  border: 1px solid darkgreen;
  text-align: center;
  justify-self: center;
  width: 15%;
  height: 25px;
  background-color: #006a50;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 5px;
}
.donate-now:hover {
  background-color: rgb(93, 11, 234);
}
/* Subscribe Newsletter */
.subscribe-newslatter {
  width: 80%;
  height: 220px;
  border-radius: 10px;
  justify-self: center;
  text-align: center;
  align-content: center;
  background-color: #c6e4d6;
  margin-bottom: 50px;
}
.Subscribe h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.Subscribe p {
  font-size: 0.8rem;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 10px;
}
.Subscribe-Input {
  width: 70%;
  display: flex;
  justify-self: center;
  margin: 20px 0;
  height: 30px;
}
.Input-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 290px;
  text-align: start;
  padding-top: 4px;
  padding-left: 5px;
  color: rgba(14, 14, 14, 0.3);
  background-color: white;
}
.Input-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 175px;
  padding-top: 4px;
  color: white;
  font-weight: bold;
  background-color: #09a15c;
}

/* footer section */
footer {
  gap: 20px;
  width: 80%;
  padding: 50px 0;
  border-radius: 10px;
  background-color: #eaf1fb;
  justify-self: center;
  text-align: center;
  align-self: center;
}
footer span {
  font-size: 1.5rem;
  font-weight: bold;
}
.ft-img {
  margin-top: 15px;
  display: flex;
  justify-self: center;
  gap: 20px;
}
/* Mobile First Responsive */
@media screen and (max-width: 576px) {
  /* Navbar */
  nav {
    .bd-2 {
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
    }
    .bd-2 span {
      font-size: 1.2rem;
    }
    .bd-2 p {
      width: 60px;
      font-size: 0.8rem;
    }
  }
  /* header */
  header {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    justify-self: center;
  }
  .bd2 {
    font-size: 0.6rem;
  }
  .idea {
    font-size: 0.6rem;
  }
  .header-texts {
    text-align: start;
    padding-left: 30px;
  }
  .explore {
    width: 130px;
    height: 20px;
    font-size: 0.5rem;
    padding-top: 10px;
    margin-top: 10px;
  }

  .header-image {
    align-content: center;
  }
  .header-image img {
    align-content: center;
    width: 180px;
    height: 140px;
  }

  /* Pillars*/
  .Pillars {
    width: 85%;
    height: 250px;
  }
  .pillar-title {
    font-size: 1.1rem;
  }
  .pillar-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card {
    gap: 20px;
    width: 150px;
    height: 180px;
  }
  .card span {
    padding-bottom: 5px;
    font-size: 0.8rem;
  }
  .card p {
    font-size: 0.6rem;
  }
  /* Vision */
  .Vision {
    width: 85%;
    height: 250px;
    margin-top: 220px;
  }
  .vision-title {
    font-size: 1.2rem;
  }
  .vision-info {
    font-size: 0.6rem;
    margin: 15px 0;
  }
  .vision-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .vision-card {
    border-radius: 20px;
    justify-self: center;
    width: 75%;
    height: 150px;
  }
  .vision-card img {
    width: 25px;
    height: 25px;
  }
  .vision-card h4 {
    font-size: 0.8rem;
  }
  .vision-card p {
    font-size: 0.6rem;
  }
  .card-btn-1,
  .card-btn-2,
  .card-btn-3 {
    width: 25%;
    height: 10%;
    padding-top: 2px;
    margin-top: 5px;
    border-radius: 10px;
  }
  /* qoute */
  .qoute {
    display: none;
  }
  /* news */
  .news {
    display: none;
  }
  /* Donate */
  .Donate {
    display: none;
  }
  /* subscribe-newslatter */
  .subscribe-newslatter {
    display: none;
  }
  /*footer  */
  footer {
    display: none;
  }
}
