* {
  margin: 0;
  padding: 0;
}

/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* Navbar Section */
.bd-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  gap: 100px;
}
.bd-2 span {
  font-size: 2rem;
  font-weight: bold;
}
.bd-2 p {
  border: 1px solid #006a50;
  border-radius: 5px;
  width: 70px;
  height: 20px;
  font-size: 1rem;
  color: #006a50;
  font-weight: 600;
  text-align: center;
}
/* Header section */
header {
  border-radius: 24px;
  width: 80%;
  height: 300px;
  margin-top: 20px;
  background-color: #c6e4d6;
  display: flex;
  gap: 130px;
  justify-content: center;
  justify-self: center;
}
.bd2 {
  font-size: 0.8rem;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 10px;
}
.sign-in:hover {
  background-color: rgb(179, 250, 198);
}
.idea {
  color: #0e0e0e;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-texts {
  align-content: center;
  padding-left: 15px;
}
.explore {
  border-radius: 8px;
  width: 210px;
  height: 30px;
  background-color: #006a50;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 8px;
  text-align: center;
  margin-top: 15px;
}
.explore:hover {
  background-color: rgb(5, 158, 45);
}
.header-image {
  align-content: center;
}
.header-image img {
  align-content: center;
  padding-right: 20px;
  width: 250px;
  height: 250px;
}
/* Pillars Section */
.Pillars {
  width: 80%;
  height: 250px;
  margin-top: 50px;
  align-content: center;
  justify-self: center;
}
.pillar-title {
  font-size: 1.8rem;
  font-weight: bold;
}
.pillar-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  gap: 10px;
  align-content: center;
}

.card {
  border-radius: 16px;
  gap: 20px;
  width: 150px;
  height: 180px;
  background-color: #ebf7f1;
  align-content: center;
  padding-left: 10px;
}
.card:hover {
  background-color: rgb(182, 255, 201);
}
.card span {
  font-size: 1.05rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.card p {
  font-size: 1rem;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 10px;
}
.card img {
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
}

/* Vision section */
.Vision {
  width: 80%;
  height: 250px;
  margin-top: 50px;
  justify-self: center;
  align-content: center;
}
.vision-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.vision-info {
  font-size: 0.8rem;
  color: rgba(14, 14, 14, 0.7);
  margin: 10px 0;
}
.vision-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.vision-card {
  border-radius: 16px;
  width: 200px;
  height: 200px;
}
.vision-card:hover {
  background-color: rgb(182, 255, 201);
}
.vision-card img {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}
.vision-card h4 {
  font-size: 1.05rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.vision-card p {
  font-size: 1rem;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 5px;
}
.card-1 {
  background-color: rgba(84, 144, 245, 0.2);
  align-content: center;
  padding: 5px 10px;
}
.card-1:hover {
  background-color: #9abcea;
}
.card-2 {
  background-color: rgba(198, 228, 214, 1);
  align-content: center;
  padding: 5px 10px;
}
.card-2:hover {
  background-color: #9abcea;
}
.card-3 {
  background-color: rgba(247, 235, 207, 1);
  align-content: center;
  padding: 5px 10px;
}
.card-3:hover {
  background-color: #9abcea;
}

.card-btn-1 {
  width: 95px;
  height: 25px;
  padding-top: 3px;
  margin-top: 10px;
  text-align: center;
  background-color: #5490f5;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-1:hover {
  background-color: rgb(93, 11, 234);
}
.card-btn-2 {
  width: 95px;
  height: 25px;
  padding-top: 3px;
  margin-top: 10px;
  text-align: center;
  background-color: #09a15c;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-2:hover {
  background-color: rgb(93, 11, 234);
}
.card-btn-3 {
  width: 95px;
  height: 25px;
  padding-top: 3px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffc239;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}
.card-btn-3:hover {
  background-color: rgb(93, 11, 234);
}

/* qoute section */
.qoute {
  background-color: #ebf7f1;
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  color: rgba(14, 14, 14, 0.8);
  margin: 130px 0;
  width: 80%;
  height: 180px;
  justify-self: center;
  border-radius: 16px;
  align-content: center;
}
.qoute:hover {
  background-color: #acc9ef;
}

/*  */
/* Mobile First Responsive */
@media screen and (max-width: 576px) {
  /* navbar */
  .bd-2 {
    font-size: 1rem;
    text-align: center;
    justify-items: center;
  }
  .bd-2 span {
    font-size: 1.05rem;
  }
  .bd-2 p {
    font-size: 0.9rem;
    width: 55px;
    height: 20px;
  }
  /* Header section */
  header {
    display: flex;
    gap: 10px;
    width: 80%;
    height: 200px;
    display: flex;
  }
  .header-texts {
    padding-left: 20px;
  }
  .idea {
    font-size: 1rem;
    font-weight: bold;
  }
  .bd2 {
    font-size: 0.8rem;
  }
  .explore {
    width: 150px;
    height: 25px;
    font-size: 0.7rem;
    padding-top: 8px;
    text-align: center;
  }
  .header-image img {
    width: 150px;
    height: 100px;
  }
  /* Pillars section */
  .Pillars {
    width: 80%;
    height: 250px;
    margin-top: 50px;
  }
  .pillar-title {
    font-size: 1.2rem;
  }
  .pillar-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
  .card {
    width: 200px;
    height: 180px;
  }
  /*  The Vision of Future*/
  .Vision {
    width: 80%;
    height: 250px;
    margin: 200px 0;
  }
  .vision-title {
    font-size: 1.5rem;
  }
  .vision-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .vision-card {
    width: 200px;
    height: 200px;
  }
  /* qoute */
  .qoute {
    padding: 15px;
    margin-top: 330px;
    width: 80%;
    height: 220px;
  }
}
